<ion-view view-title="Amigos">
    <ion-content>
        Facebook
        <ion-list class="friend-list">
            <ion-item class="item item-divider">
                PEOPLE YOU MAY KNOW
            </ion-item>
            <ion-item class="item item-avatar item-button-right">
                <img data-ng-src="http://ionicframework.com/img/docs/venkman.jpg">
                <h2>Geraldine Cornutti</h2>
                <p>2 amigos em comum.</p>
                <button class="button button-positive">
                    Add Friend
                </button>
            </ion-item>
            <ion-item class="item item-avatar item-button-right">
                <img data-ng-src="http://ionicframework.com/img/docs/venkman.jpg">
                <h2>Polenta Sauro</h2>
                <p>15 amigos em comum</p>
                <button class="button button-positive">
                    Add Friend
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
