<ion-content>
    <h1>login</h1><br />

    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-at placeholder-icon"></i>
            <input type="text" placeholder="Login">
        </label>
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="text" placeholder="Senha">
        </label>
        <button class="button button-block button-positive" data-ng-click="vm.login();">
            Login
        </button>
    </div>
    <span class="register">Not a member? <a href="#register">Register now</a></span>
</ion-content>