<ion-content>
    <h1>cadastro</h1>
    
    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input">
            <i class="icon ion-at placeholder-icon"></i>
            <input type="email" placeholder="E-mail">
        </label>
        <label class="item item-input">
            <i class="icon ion-pound placeholder-icon"></i>
            <input type="text" placeholder="Login">
        </label>
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="Senha">
        </label>
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="Confirmação de senha">
        </label>
        <button class="button button-block button-positive" data-ng-click="vm.register();">
            Cadastrar
        </button>
    </div>

    <a class="login" href="#login">Already have an account?</a>
</ion-content>