<ion-view view-title="Eventos">
    <ion-header-bar align-title="center" class="bar-stable">
        <h1 class="title">Eventos</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list card" data-ng-click="vm.openEvent(1);">
            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>Nome do evento</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                <p>Descrição do evento</p>
            </div>
        </div>
    </ion-content>
</ion-view>
