<ion-view view-title="Fotos">
    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <button class="button button-clear" data-ng-click="vm.goBack();">voltar</button>
        </div>
        <h1 class="title">Eventos</h1>
        <div class="buttons">
            <button class="button button-icon ion-more" data-ng-click="vm.popover.show($event)"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list card photo" data-ng-repeat="photo in vm.photos">
            <div class="item item-body item-text-wrap">
                <img data-ng-src="{{ photo.photo }}">
                <span data-ng-bind="photo.description"></span>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    fabioseno
                </a>
                <a class="tab-item" href="#">
                    8 days ago
                </a>
                <a class="tab-item" href="#" data-ng-show="false">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#" data-ng-show="false">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-star"></i>
                    Favorite
                </a>
            </div>
        </div>

        <ion-infinite-scroll on-infinite="vm.loadMorePhotos()" distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>