<ion-view view-title="Fotos">
    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <button class="button button-clear" data-ng-click="vm.goBack();">voltar</button>
        </div>
        <h1 class="title">Eventos</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <td-cards>
            <td-card class="card" data-ng-repeat="photo in vm.photos" 
                     on-transition-left="vm.transitionLeft(photo)"
                     on-transition-right="vm.transitionRight(photo)"
                     on-destroy="vm.cardDestroyed($index)"
                     >
                
                <div class="item image">
                    <div class="no-text overlayBox"><div class="noBox boxed">Não</div></div>
                    <img ng-src="{{photo.photo}}">
                    <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Sim</div></div>
                </div>
                <div class="item item-body item-text-wrap" data-ng-bind="photo.description"></div>
            </td-card>
        </td-cards>
    </ion-content>
</ion-view>
